.login-popup{
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #00000090;
}
.login-container{
    place-self: center;
    background-color: white;
    color: #80808080;
    width: max(23vw,340px);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.7s;
}
.login-text{
    color: black;
    display: flex;
    justify-content: space-between;
}
.login-text img{
    height: 20px;
    cursor: pointer;
}
.login-input input
{
    height: 30px;
    padding-left:10px;
    margin-bottom: 20px;
    width: 93%;
    outline: none;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}
.login-container button{
    height: 35px;
    background-color: tomato;
    border: none;
    border-radius: 4px;
    color: white;
    width: 97%;
    font-weight: 600;
    margin-top: -15px;
}
.login-buttom{
    display: flex;
    align-items: start;
    margin-top: -13px;
    gap: 8px;
}
.login-buttom input{
    margin-top: 5px;
}
.alreadyhaveacct{
    display: flex;
    gap: 10px;
}
.alreadyhaveacct span{
    cursor: pointer;
    font-weight: 600;
    color: tomato;
}
@media (max-width:500px) {
    .login-container{
        place-self: center;
        background-color: white;
        color: #80808080;
        width: max(17vw,280px);
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px 30px;
        border-radius: 8px;
        font-size: 14px;
        animation: fadeIn 0.7s;
    }
    .login-popup {
        position: absolute;
        display: grid;
        height: 100%;
        width: 97%;
        z-index: 1;
        background-color: #00000090;
    }
}
@media (max-width:500px) {
    .login-container{
        place-self: center;
        background-color: white;
        color: #80808080;
        width: max(17vw,280px);
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px 30px;
        border-radius: 8px;
        font-size: 14px;
        animation: fadeIn 0.7s;
    }
    .login-popup {
        position: absolute;
        display: grid;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: #00000090;
    }
}